select {
    background-color: #EBEFF4;
    border: none;
    font-weight: bold;
    color: #4B566B;
}

h5{
    color: #013E9B;
}

.container-brands {
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    margin-right: 9px;
}

.brand {
    height: 226px;
    overflow-y: auto;
}

.brand::-webkit-scrollbar {
    width: 8px;
}

.brand::-webkit-scrollbar-thumb {
    background-color: #4B566B;
    border-radius: 4px;
}

.brand::-webkit-scrollbar-track {
    background: #D8E0E9;
}





.brands,
.price,
.review,
.memory,
.range,
.camera {
    border: 1.5px solid #D8E0E9;
    padding: 10px;
}