.contenedor{
    display: flex;
    flex-direction: column;
}

.search{
    padding: 10px;
}

.phones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 719px;
    overflow-y: auto;
}

.phones::-webkit-scrollbar {
    display: none;
}

.name-phone {
    font-size: 16px;
}